<div class="form-title">Add Employee</div>
<form [formGroup]="employeeForm" (ngSubmit)="submit()" class="form">
  <label>
    Name:
    <span class="input-wrapper">
      <span class="input-icon">👤</span>
      <input formControlName="name" />
    </span>
  </label>
  <div *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched" class="error">
    Name is required
  </div>

  <label>
    Position:
    <span class="input-wrapper">
      <span class="input-icon">💼</span>
      <input formControlName="position" />
    </span>
  </label>
  <div *ngIf="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched" class="error">
    Position is required
  </div>

  <label>
    Salary:
    <span class="input-wrapper">
      <span class="input-icon">₹</span>
      <input type="number" formControlName="salary" />
    </span>
  </label>
  <div *ngIf="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched" class="error">
    Salary must be at least ₹1000
  </div>

  <button type="submit" [disabled]="employeeForm.invalid">Add Employee</button>
  <p>{{ employeeForm.value | json }}</p>

</form>
